* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #080b12;
    color: white;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.hero {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 52px;
    color: #00eaff;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

.hero p {
    color: #aeb8c7;
    max-width: 650px;
    margin: auto;
}

.projects {
    padding: 60px 0;
}

.projects h2 {
    text-align: center;
    color: #00eaff;
    margin-bottom: 35px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #111722;
    border: 1px solid #202a38;
    border-radius: 15px;
    padding: 25px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #00eaff;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #aeb8c7;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #00eaff;
    color: #061018;
    padding: 9px 16px;
    border-radius: 8px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 30px;
    color: #667085;
    border-top: 1px solid #202a38;
}

.project-image {
    display: block;
    width: 45%;
    max-width: 450px;
    height: auto;
    margin:25px auto;
    border-radius: 12px;
    border: 1px solid #202a38;
}

/* NAVIGATION */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgba(8, 11, 18, 0.95);
    border-bottom: 1px solid #202a38;
    backdrop-filter: blur(10px);
}

.nav-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;

    min-height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #00eaff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #00eaff;
    padding: 5px 10px;
    border-radius: 8px;
}

.nav-menu {
    display: flex;
    gap: 25px;
}

.nav-menu a {
    color: #aeb8c7;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.nav-menu a:hover {
    color: #00eaff;
}

/* MOBILE RESPONSIVE */

@media (max-width: 600px) {

    .nav-container {
        flex-direction: column;
        gap: 12px;
        padding: 12px 0;
    }

    .nav-menu {
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-menu a {
        font-size: 12px;
    }

    .hero {
        min-height: 60vh;
        padding: 40px 0;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero h2 {
        font-size: 20px;
    }

    .card {
        padding: 20px;
    }

    .btn {
        margin: 5px 0;
    }

}
